@using QuickOrder.Entities.Entities.EntityFramework
@model CompanyInformations
<section id="reach-to" class="welcome-part home-icon">
    <div class="icon-default">
        <a href="#reach-to" class="scroll"><img src="/content/staticImages/scroll-arrow.png" alt=""></a>
    </div>
    <div class="container">
        <div class="build-title">
            <h2> @Model.companyName'ya Hoşgeldiniz</h2>
            <h6>@Model.companyCaption</h6>
        </div>
       
    </div>

</section>
