<section class="food-hours home-icon wow fadeInDown" data-stellar-offset-parent="true" data-stellar-background-ratio="0.5" data-wow-duration="1000ms" data-wow-delay="300ms" style="background-image: url('/content/staticImages/banner2.jpg');">
    <div class="icon-default icon-gold">
        <img src="/content/staticImages/tv-icon.png" alt="" width="75" height="45">
    </div>
    <div class="container">
        <div class="food-blog">
            <div class="row">
                <h1 style="text-align:center">1935'ten Yarına</h1>
                <p style="font-weight:900">Türkiye'nin ilk panel mobilya ve mutfak üreticisi olan Kelebek Mutfak, Cumhuriyet tarihinin en köklü sanayi kuruluşlarından biridir. Kelebek Mutfak, ilk yerli uçağın kanatları için kontrplak üretmek üzere, 1935 yılında İstanbul Haliç’te faaliyetlerine başladı.</p>
                <p style="font-weight:900">Müşterilerimiz yıllar sonra bile, markamızı tercih etmiş olmaktan mutluluk duymaktadır. Kelebek mutfak ve banyoların sağladığı konfor, kullanıcısının hayat kalitesini arttırır. Kullanıcılarına özel çözümler ve yaratıcı ürünleriyle ile farklı ihtiyaçlara uygun yaşam alanları tasarlar. Kalite ve tasarımlarıyla tavsiye edilen ürünler sunar.</p>
            </div>
        </div>
    </div>
</section>
