<section class="food-hours home-icon wow fadeInDown" data-stellar-offset-parent="true" data-stellar-background-ratio="0.5" data-wow-duration="1000ms" data-wow-delay="300ms" style="background-image: url('/content/staticImages/banner2.jpg');">
    <div class="icon-default icon-gold">
        <img src="/content/staticImages/icon19.png" alt="">
    </div>
    <div class="container">
        <div class="food-blog">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 food-mxs">
                    <div class="food-blog-inner">
                        <div class="food-item">
                            <div class="food-item-inner">
                                <img src="/content/staticImages/icon15.png" alt="">
                            </div>
                        </div>
                        <h2>Kahvaltı</h2>
                        <span>8.00 am 10.00 am</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 food-mxs">
                    <div class="food-blog-inner">
                        <div class="food-item">
                            <div class="food-item-inner">
                                <img src="/content/staticImages/icon16.png" alt="">
                            </div>
                        </div>
                        <h2>Öğle Yemeği</h2>
                        <span>1.00 am 2.00 am</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 food-mxs">
                    <div class="food-blog-inner">
                        <div class="food-item">
                            <div class="food-item-inner">
                                <img src="/content/staticImages/icon17.png" alt="">
                            </div>
                        </div>
                        <h2>Akşam Yemeği</h2>
                        <span>7.00 am 9.00 am</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 food-mxs">
                    <div class="food-blog-inner">
                        <div class="food-item">
                            <div class="food-item-inner">
                                <img src="/content/staticImages/icon18.png" alt="">
                            </div>
                        </div>
                        <h2>Tatlı</h2>
                        <span>Tüm Gün</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
