@using QuickOrder.Entities.Entities.EntityFramework

@model List<Products>
<section class="instagram-main home-icon wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
    <div class="icon-default">
        <i class="fa fa-picture-o" style="font-size:50px;font-weight:900"></i>

    </div>
    <div class="container">
        <div class="build-title">
            <h2></h2>
            <h6>Fotoğraf Galerimizde Eğlenceli ve Lezzetli Anılarımızı Sizler İçin Paylaştık</h6>
        </div>
    </div>
    <div class="gallery-slider">
        <div class="owl-carousel owl-theme" data-items="6" data-laptop="5" data-tablet="4" data-mobile="1" data-nav="true" data-dots="false" data-autoplay="true" data-speed="2000" data-autotime="3000">

            @foreach (var product in Model)
            {
                <div class="item">
                    <a href="@product.coverPicturePath" class="magnific-popup">
                        <img src="@product.coverPicturePath" alt="" class="animated" width="177" height="141">
                        <div class="gallery-overlay">
                            <div class="gallery-overlay-inner">
                                <i class="fa fa-link" aria-hidden="true"></i>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>