@using System.Net.Mime
<a href="#">
    <div class="col-xl-3 col-lg-6" >
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-one">
                    <div class="stat-icon dib"><i class="ti-layout-grid2 text-warning border-warning"></i></div>
                    <div class="stat-content dib">
                        <div class="stat-text">Aktif Üye</div>
                        <div class="stat-digit">@ViewBag.OnlineVisitor.ToString() </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>