@model int

<a href="/AdminPanel/user/managementTeam">
    <div class="col-sm-6 col-lg-4">
        <div class="card text-white bg-flat-color-4">
            <div class="card-body pb-0">

                <h4 class="mb-0">
                    <span class="count">@Model</span>
                </h4>
                <p class="text-light">Yönetim Takımı</p>

                <div class="chart-wrapper px-3" style="height:70px;" height="70">
                    <canvas id="widgetChart4"></canvas>
                </div>

            </div>
        </div>
    </div>
</a>