@model List<QuickOrder.Entities.Entities.EntityFramework.Products>
<a href="/AdminPanel/product/Index">
    <div class="col-sm-6 col-lg-4">
        <div class="card text-white bg-flat-color-1">
            <div class="card-body pb-0">

                <h4 class="mb-0">
                    <span class="count">@Model.Count</span>
                </h4>
                <p class="text-light">Ürünler</p>
                <div class="chart-wrapper px-0" style="height:70px;" height="70">
                    <canvas id="widgetChart1"></canvas>
                </div>
            </div>
        </div>
    </div>

</a>