@model int
<a href="/AdminPanel/reservation/Index">
    <div class="col-sm-6 col-lg-4">
        <div class="card text-white bg-flat-color-3">
            <div class="card-body pb-0">
            
                <h4 class="mb-0">
                    <span class="count">@Model</span>
                </h4>
                <p class="text-light">Yeni Rezervasyonlar</p>
            </div>
            <div class="chart-wrapper px-0" style="height:70px;" height="70">
                <canvas id="widgetChart3"></canvas>
            </div>
        </div>
    </div>
</a>