@model int
 <br />
<div class="col-xl-3 col-lg-6"  >
    <div class="card">
        <div class="card-body">
            <div class="stat-widget-one">
                <div class="stat-icon dib"><i class="ti-user text-primary border-primary"></i></div>
                <div class="stat-content dib">
                    <div class="stat-text">Total Reservation</div>
                    <div class="stat-digit">@Model</div>
                </div>
            </div>
        </div>
    </div>
</div>
