@using QuickOrder.Entities.Entities.EntityFramework

@model rezervations
<div class="modal fade booktable" id="booktable" tabindex="-1" role="dialog" aria-labelledby="booktable">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="table-title">
                    <h2>Rezervasyon</h2>
                    <h6 class="heade-xs">Salonumuza misafir olmadan önce buradan rezervasyon yapabilirsiniz.</h6>
                </div>
                <div class="row errorList">

                    @using (Html.BeginForm("bookTable", "Home", FormMethod.Post, new { id = "reservationForm" }))
                    {

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="text" name="CustomerName" placeholder="Name Surname" />

                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="select-dropbox" name="personCount">
                                <option>Misafir Sayısı</option>
                                @for (int j = 1; j <= 500; j++)
                                {
                                    <option value="@j">@j</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="datetime-local" name="rezerveDate" placeholder="Tarih ve Saat Girin" title="Tarih ve Saat Girin">
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="phoneNo" placeholder="Telefon">
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input type="email" name="email" placeholder="Email Adres">

                        </div>
                        @*<small>@Html.ValidationMessageFor(c => c.email, "", new { @style = "color:red" })</small>*@

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <textarea rows="5" name="description" placeholder="Özel Mesaj"></textarea>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn-main btn-big">Reservasyonu Oluştur</button>
                        </div>
                    }



                </div>
            </div>
        </div>
    </div>
</div>
<script src="/content/js/jquery.min.js"></script>
<script src="~/Areas/AdminPanel/context/admin-panel/assets/js/jquery.unobtrusive-ajax.min.js"></script>
<script>
    $("#reservationForm").submit(function (e) {
        e.preventDefault();
        var dataString = new FormData($("#reservationForm").get(0));
        contentType = false;
        processData = false;
        $(".errors").closest("div").remove();
        $.ajax({
            type: "POST",
            url: "/Home/bookTable",
            data: dataString,
            dataType: "json",
            contentType: contentType,
            processData: processData,
            success: function (result) {
                // Result.
                if (result.error == 1) {
                    $(".errorList").fadeIn(5000).after(' <br /><p style="color:#e4b95b;text-align:center;">Rezervasyon Oluşturuldu.</p>');
                    $("#reservationForm")[0].reset();
                }
                if (result.error == 0) {
                    alert("Please fill the required fields with valid datas !")
                    var list = "<div>";

                    for (var i = 0; i < result.list.length; i++) {
                        list += '<p class="errors" style="color:#e4b95b">';
                        list += result.list[i];
                        list += "</p>";
                    }
                    list += "</div>";
                    $(".errorList").before(list);

                }
            },
            error: function () {

                alert("Something goes wrong ! Please try again.");
            }
        });
    });
</script>